 h1 {
     color: #FF0000;
     text-shadow: 3px 3px white, 6px 6px #00FFFF;
 }

 .container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
     text-align: center;
     padding: 3px;
 }

 .cover {
     margin: auto;
     padding-bottom: 16px;
     display: block;
     max-width: 600px;
     max-height: 300px;
     width: auto;
     height: auto;
 }


/* Mobile-Specific Styles */
@media (max-width: 768px) {
    .cover {
        max-width: 100%; /* Ensure image is responsive and fits the screen */
        max-height: 250px; /* Reduce image height on smaller screens */
    }
}

/* Extra Small Screens (under 480px) */
@media (max-width: 480px) {
    .cover {
        max-height: 200px; /* Further reduce image height */
    }
    .container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
}
