#playPauseBtn{
    background-color: #83C491;
    color: aliceblue;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
}

.cover {
    width: 100%;
    height: auto;
    object-fit: contain;
     max-height: 450px;
}

p {
    color: #25303B;
}

.item {
    text-align: center; /* Optional: center the image and text */
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
         .cover {
         max-height: 250px;
         /* Further reduce image height */
     }
}