.collapsible {
    max-width: 600px;
}

/* Content Style */
.content {
    max-width: 600px;
}

a {
    color: #0064B0;
    /* Inherit the color from the parent element */
}

a:hover {
    color: rgb(156, 38, 38, 0.8);
}

#playPauseBtn{
    background-color: #83C491;
    color: aliceblue;
}

p.v {
    padding-left: 5%;
    padding-right: 5%;
}

p {
    color: #25303B;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    text-align: left;
    margin-left: 10%;
}

hr {
    margin-left: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1.5px solid #0064B0;
    padding: 8px;
    text-align: left;
}

th {
    background-color: none;
}

h2 {
    margin-top: 20px;
}

@media (max-width: 600px) {
    p {
        padding-left: 5%;
        padding-right: 5%;
    }

    h2 {
        text-align: center;
    }

    hr {
        margin-left: auto;
    }
}