/* Ensure canvas takes up full screen and is placed behind content */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    /* Prevent scrolling */
    background-color: none;
}

body {
    background-color: black;;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /* Send canvas to the back */
}

header,
footer {
    position: relative;
    z-index: 10;
    /* Ensure header and footer are on top */
}

/* Optional: You can tweak the appearance of header and footer */
header {
    background-color: rgba(0, 0, 0, 0.7);
    /* Transparent background for the header */
    color: white;
}