body {
    background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExcm02c2JrbGVraXo4NmJ1aTg2a2llbmNuYjBkbnRoM3o1NW40aXY3eSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/31TsJOgYOvIWWYMEaR/giphy.gif');
    background-repeat: repeat;
    background-position: center left;
    background-attachment: scroll;
    background-size: contain;
}

/* Mobile-Specific Adjustments */
@media (max-width: 768px) {
    body {
        background-size: contain; /* Ensure background image fits within screen on mobile */
        background-position: center center; /* Center background image on smaller screens */
    }
}