/* Ensure canvas takes up full screen and is placed behind content */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Prevent scrolling */
}

body {
    background-color: black;
    cursor: crosshair;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /* Send canvas to the back */
}

h1 {
    color: aliceblue;
}

footer {
    position: relative;
    z-index: 10;
    /* Ensure header and footer are on top */
}

#shot-type {
    background-color: #9c2626b3;
    color: aliceblue;
    padding: 5px;
    border-radius: 20px;
    font-family: "Comic Sans MS", "Comic Sans";
    cursor: pointer;
}

#playPauseBtn {
    margin: 4px auto;
}

#playPauseBtn:hover {
    animation: change-background-color 1s infinite;
}

@keyframes change-background-color {
    0% {
        background-color: #9c2626b3;
        color: aliceblue;
    }

    50% {
        background-color: black;
        color: red;
    }

    100% {
        background-color: #9c2626b3;
        color: aliceblue;
    }
}

/* Add gunshot hole style */
.gunshot-hole {
    position: absolute;
    width: 15px;
    /* Size of the hole */
    height: 15px;
    background: url('Images/gunshot.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    animation: gunshotAnim 20s;
}

.lasershot-hole {
    position: absolute;
    width: 20px;
    /* Size of the hole */
    height: 20px;
    background: url('Images/laser-hole.png') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    pointer-events: none;
    animation: gunshotAnim 20s;
}

@keyframes gunshotAnim {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}