body{
	background-color: #F3A4B4;
	/*font-family:  "Comic Sans MS", "Comic Sans", cursive;*/
	font-family:  "papyrus";
	text-align: center;
}


h1 {
	text-align:  center;
	font-size: 6vw;
}

h2 {
	font-size: 3vw;
}

hr{
	display: block;
	height: 0px;
	border: 10px solid #642d2d;
	border-color: #9c2626;
	margin: 20px;
	padding: 0px;
	border-radius: 20px;
	width: 600px;
}

p{
	text-align: center;
	font-size: 3.5vw;
}