/* Content Style */
.collapsible {
    background-color: #83C491;
    color: #E0FFFF;
    cursor: pointer;
    width: 600px;
    /* Default width for larger screens */
    border: none;
    text-align: center;
    outline: none;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Active and Hover State for Collapsible */
.active,
.collapsible:hover {
    background-color: #0064B0;
}

.seal {
    width: 200px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
}

.collapsible:after {
    content: '\002B';
    color: #E0FFFF;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

strong {
    text-decoration: underline;
}

.active:after {
    content: "\2212";
}

/* Content Style */
.content {
    width: 600px;
    margin: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #98D4E2;
    color: #25303B;
    /* Default width */
    text-align: left;
    display: flex;
    /* Enables Flexbox */
    justify-content: center;
    /* Centers content horizontally */
    height: auto;
    /* Allow content height to grow with content */
}

/* Paragraph Style */
.content p {
    font-size: 15px;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 5px;
}

a:hover {
    color: #25303B;
}

a {
    color: #0064B0;
    /* Inherit the color from the parent element */
}

a:hover {
    color: rgb(156, 38, 38, 0.8);
}

#playPauseBtn{
    background-color: #83C491;
    color: aliceblue;
}

p.v {
    padding-left: 5%;
    padding-right: 5%;
}

p {
    color: #25303B;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

h2 {
    text-align: left;
    margin-left: 10%;
}

hr {
    margin-left: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1.5px solid #0064B0;
    padding: 8px;
    text-align: left;
}

th {
    background-color: none;
}

h2 {
    margin-top: 20px;
}

@media (max-width: 600px) {
    p {
        padding-left: 5%;
        padding-right: 5%;
    }

    h2 {
        text-align: center;
    }

    hr {
        margin-left: auto;
    }
    
    .collapsible {
        width: 100%;
        /* Use full width on small screens */
        font-size: 6vw;
        /* Slightly smaller text */
        padding: 8px;
        /* Adjust padding for mobile */
    }

    .content {
        width: 100%;
        /* Make content width responsive */
    }
}