a {
    color: #0064B0;
    /* Inherit the color from the parent element */
}

a:hover {
    color: rgb(156, 38, 38, 0.8);
}

img {
    border-radius: 20px;
}

img#teaching {
    margin: 15px auto;
    width: 50%;
}

.item,
.bottom {
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

ul.newsletters {
    list-style-type: none;
    margin: auto;
    padding-left: 0;
    background-color: #82c490cc;
    color: #E0FFFF;
    border-radius: 20px;
    width: 400px;
}

ul.peacecorps-pictures {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0px;
    flex-direction: row;
}
li.picture {
    margin: 20px;
    max-width: 400px;
}

.item:hover {
    background-color: rgb(37, 48, 59, .8);
}

.top {
    border-radius: 20px 20px 0 0;
    padding-top: 4px;
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-size: 20px;
    color: #25303B;
}

.bottom:hover {
    border-radius: 0 0 20px 20px;
    background-color: #25303bcc;
}

#playPauseBtn {
    background-color: #82c490;
    color: #25303b;

}

/* Mobile-specific Styles */
@media (max-width: 740px) {
    ul.newsletters {
        width: 90%;
    }

    ul.peacecorps-pictures {
        flex-direction: column;
        align-items: center;
    }

    img{
        width: 90%;
    }

    img#teaching {
        width: 90%;
    }

    /* Adjust font size for smaller screens */
    .item,
    .top,
    .bottom {
        font-size: 5vw;
        /* Use a relative font size for mobile devices */
    }

    h3 {
        font-size: 5vw;
        /* Use a relative font size for mobile devices */

    }

    /* Responsive hover effects for items */
    .item:hover,
    .bottom:hover {
        background-color: rgb(37, 48, 59, .8);
    }
}