Result Skip Results Iframe
EDIT ON
body{
  margin: 0;
  padding: 0;
}

#map {
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative; 
    outline-style: none;
}

.collapsible {
	background-color: #008080;
	color: #E0FFFF;
	cursor: pointer;
	padding: 18px;
	width: 500px;
	border: none;
	text-align: center;
	outline: none;
	font-size: 4vh;
  font-family:  "papyrus";
}

.active, .collapsible:hover {
	background-color: navy;
}

.collapsible:after {
	content: '\002B';
	color: #E0FFFF;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}

.content {
	margin: 0px;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #E0FFFF;
}

ul{
	text-align: left;
 	font-size: 20px;
}